body{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 130%;
  background-color: rgb(187, 187, 236);
}
h1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
img{
  margin-inline:  auto;
  padding-inline: 53rem;
}
main{
  text-align: center;
  max-width: 700px;
  margin-inline:  auto;
 
}
img {
  text-align: center;
}
nav{
  background-color: rgb(225, 236, 206);
  
}
ul{
  display: flex; gap: 100px;
  margin: 10px;
  padding: 20px;
}
footer {
    background-color: rgb(225, 236, 206);
    margin: 10px;
  padding: 20px;
  transform: translateY(200px);
}